{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="container">
    <h1>{% if name %}{{ name }}{% else %}Stranger{% endif %} these are your tasks!</h1>
    {{ wtf.quick_form(form) }}
    <br/>
    <div class="container">
        <ul class="list-group">
            {% if todos %}
                {% for todo in todos %}
                <li class="list-group-item">{{ todo|capitalize }}</li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}